.active{
    display: block;
}

.hidden{
    display: none;
}

img:not(.active){
    display: none;
}

.slider{
    height: 700px;
    width: auto;
}

img{
    height: 100%!important;
    width: 100%!important;
}

.play, .stop{
    height: 50px;
    width: 50px;
    
}

h1{
    text-shadow: 2px 2px rgb(255, 0, 0);
}